* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.main {
    padding-bottom: 2rem;
}

.img-container {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

#container {
    display: flex;
    flex-direction: column;
}
#container .title {
    text-align: center;
    font-size: 2rem;
}

.flight {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 90%;
    margin: auto;
    padding: 1rem;
}

.heading {
    font-weight: bold;
    font-size: 1.5rem;
}
